# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\download\githubcode\Java_learning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
